body {
  background-color: rgb(255, 255, 255);
}
h1 {
  text-align: center;
  color: #46484c;
}
button {
  color: #fff;
  background-color: #025157;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #8b8b8bcc;
}
.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}
.header {
  margin: 40px 20px 0;
  /*margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;*/
  font-size: 0;
  display: flex;
  align-items: center;
}
.header > * {
  display: inline-block;
  font-size: 16px;
  height: 100%;
  line-height: 45px;
  vertical-align: middle;
}
.logo {
  width: 15%;
}
.logo > img {
  width: 15%;
}
.navbar {
  font-family: 'Karla', sans-serif;
  width: 70%;
  height: 45px;
  text-align: center;
  color: #025157;
  font-weight: 500;
  text-align: left;
}
.header li {
  display: inline;
  margin:auto 25px;
}
.actions {
  width: 15%;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
}
.actions > * {
  margin-right: 10px;
  margin-right: 10px;
  margin: 0 10px;
}
.actions a {
  color: #67b54b;
  text-decoration: none;
}
.actions button {
  color: white;
  background-color: #67b54b;
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
}
.main h1 {
  margin-top: 140px;
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-size: 2.5em;
}
.video-section{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    justify-items: center;
}
.video-section > *{
    margin: 1em;
}
.video-section h1{
    font-family: Karla;
    font-size: 1.5em;
    color: #025157;
    text-align: left;
}
.video-section p{
    color: #343434;
    text-align: left;
    font-size: 1em;
}
.promo-form > *{
    height: 50px;
    margin:0;
    padding: 0;
    color:gray;
    font-family: Karla;
    border-radius: 5px;
}
.promo-form button{
    color: white;
    background-color: teal;
    font-weight: bold;
}
.video-and-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-and-img img{
    width: 50px;
}