body{
    background-color: #fffbf7;
}
h1{
    text-align: center;
    color: #46484c;
}
button{
    color:#fff ; 
    background-color: #025157;
}
p{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#8b8b8bcc;
}